// Theme Colors
$whiteSmoke: #f2f1ed;
$monochromeBlack: #1d1c1d;
$monochromeTaupe: #cbbea5;
$orange: #ff6f48;
$black: #000000;
$blue: #0175df;

$primary: #1a2f35; /* use dark color on this variable */
$secondary: #b9a569;
$tertiary: #2a7f89; /* use dark color on this variable */
$quaternary: #ebebeb;
$quinary: #cbcdc1;
$senary: #abadb0;
$septenary: #e3e3e3;

$white: #ffffff;
$black: #000000;
$lightgray: #f1f1f1;

$errors: #ff0000;
