.expertise-form {
  font-family: 'Inter', sans-serif;
  padding: 128px 0 128px 128px;
  background-color: #f2f1ed;

  a {
    color: $black;
  }

  &__title {
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 128px */
    letter-spacing: -6.4px;
    color: $white;
    margin: 0;
  }

  &__copy + p {
    padding-top: 48px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
    letter-spacing: -0.6px;
    color: $white;
  }

  &__figure {
    width: 100%;
  }

  &__list {
    background-color: $whiteSmoke;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-section {
      display: flex;
      justify-content: space-between;
      place-items: center;
      width: 900px;
    }
  }

  &__list-item {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
    letter-spacing: -2.4px;
    padding: 64px 0;

    &__arrow {
      max-width: 20px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__headline {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    letter-spacing: -1.6px;
    padding-bottom: 24px;

    // &-splide {
    //   white-space: nowrap;
    // }
  }

  &__form {
    max-width: 500px;

    &__copy {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.6px;
    }

    &__required {
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
      color: $orange;
      padding: 32px 0 16px;
    }

    & form {
      display: flex;
      flex-direction: column;
    }

    & input {
      padding: 12px;
      background-color: transparent;
      border: 1px solid $taupe;
      border-radius: 0;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-transform: uppercase;
      &::placeholder {
        color: $monochromeBlack;
        &::after {
          content: ' *';
          color: red;
        }
      }

      &[type='submit'] {
        font-size: 0.8em;
        background-color: $monochromeBlack;
        border: 1px solid $monochromeBlack;
        color: $white;
        padding: 16px 32px;
        text-transform: uppercase;
        margin: 16px 0;
      }
    }

    // & label {
    //   visibility: hidden;
    // }
  }

  &__card {
    padding: 64px;
    max-width: 356px;
    height: max-content;
    background-color: $whiteSmoke;

    &__image {
      margin: auto;
      width: 228px;
      height: 226px;
    }

    &__name {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -1.6px;
    }

    &__title {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-transform: uppercase;
      padding: 8px 0 16px;
    }

    &__email {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.frm_style_formidable-style.with_frm_style .form-field {
  margin: 0;
}

.with_frm_style input[type='text'],
.with_frm_style input[type='email'],
.with_frm_style input[type='tel'],
.with_frm_style textarea {
  padding: 12px;
  background-color: transparent;
  border: 1px solid $taupe;
  border-radius: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 16px;
  height: initial;

  ::placeholder {
    color: $monochromeBlack;
  }
}

.frm_style_formidable-style.with_frm_style .frm_submit button {
  font-size: 0.8em;
  background-color: $monochromeBlack;
  border: 1px solid $monochromeBlack;
  color: $white;
  padding: 16px 32px;
  text-transform: uppercase;
  margin: 16px 0;
  width: 100%;
  border-radius: 0;
}

.with_frm_style .frm_required {
  color: $orange;
}

.with_frm_style .frm_primary_label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}
