.single {
  padding: 0px;
  @include bp(phone) {
    display: block;
  }

  &__figure {
    margin: 0;
    width: 50%;
    position: relative;
    @include bp(before_ipad) {
      width: 100%;
      max-width: 100%;
    }
  }

  // &__figure img {
  //   width: 700px;
  // }

  &__figure--partial img {
    @include bp(before_ipad) {
      height: 160px;
    }
  }

  &__card {
    position: relative;
    display: flex;
    color: $black;
    background-color: $black;
    @include bp(before_ipad) {
      flex-direction: column;
      max-width: 100%;
    }
  }

  &__image-wrapper {
    margin: 0;
    width: 600px;
    flex: 0 0 600px;
    @include bp(tablet) {
      max-width: 100%;
      flex: 0 0 400px;
    }
    @include bp(phone) {
      max-width: 100%;
      flex: 0 0 250px;
    }
  }

  &__image {
    max-width: 100%;
  }

  &__detail {
    align-self: center;
    width: 50%;

    margin: 0 auto;
    padding: 60px;

    &--center {
      text-align: center;
      max-width: 500px;
    }

    &--left {
      margin: 0;
    }

    @include bp(widescreen) {
      max-width: 650px;
    }

    @include bp(custom_screen) {
      padding: 60px 40px;
    }

    @include bp(before_ipad) {
      width: 100%;
      padding: 40px 30px;
    }

    @include bp(phone) {
      text-align: center;
      margin: 0;
    }
  }

  &__headline {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3.6px;
    color: $orange;

    &__line {
      border-bottom: 1px solid $senary;
      padding-bottom: 16px;
    }
  }

  &__copy {
    color: $white;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
  }

  &__stats {
    display: flex;
    justify-content: space-evenly;
  }

  &__stats-item {
    font-family: 'Inter', serif;

    text-align: center;
    width: 100%;
    padding: 16px 0;

    &--number {
      font-size: 3rem;
      color: $tertiary;
      // font-weight: 600;
      border-right: 1px solid rgba(128, 131, 102, 0.3);
    }

    &--label {
      font-size: 1rem;
      color: $black;
      // font-weight: 600;
      border-right: 1px solid rgba(128, 131, 102, 0.3);
    }
  }
}

.hero-stats {
  &__figure {
    font-size: 1.6em;
    font-weight: 600;
  }

  &__line {
    width: 15%;
    margin: 5px auto !important;
  }

  &__detail {
    width: 100%;
    max-width: 500px;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
    @include bp(phone) {
      text-align: left;
      padding: 1rem 2rem;
    }
  }

  &__headline {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    color: $black;
    margin: 0 auto 10px;

    @include bp(phone) {
      margin: 0 0 10px;
    }

    &--overlay {
      color: $white;
      font-size: 1.7em;
      margin: 0 0 10px;
    }
  }

  &__date {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    margin: 0 0 20px;
    color: $black;
    &--overlay {
      color: $white;
    }
  }

  &__overlay-intro {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: $white;
    margin: 0 auto 20px;
  }

  &__info__line {
    display: none;
    @include bp(phone) {
      display: block;
      margin: 0.5em 0 !important;
    }
  }
}

// Hero CTA's
.btn--hero {
  border-radius: 5px;
  font-size: 0.5em;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
  font-weight: 600;

  &--soldout {
    background-color: $quinary;
    pointer-events: none;
  }
}

// .btn--hero:hover {
//   opacity: 0.8;
// }

.btn--hero__link {
  display: block;
  line-height: 15px;
  color: $white;
}
