.hiring {
  font-family: 'Inter', sans-serif;
  padding: 128px;
  background-color: $monochromeTaupe;

  &__oval {
    width: 100px;
    padding: 4px 16px;
    border-radius: 100px;
    background: $monochromeTaupe;
    box-shadow: 0px 0px 1px 0px $monochromeBlack;

    &__label {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__headline {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3.6px;
    margin: 0;
    padding-top: 24px;
  }

  &__copy {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.6px;
    padding: 24px 0;

    & a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__button {
    background-color: transparent;
    padding: 12px 24px;
    text-transform: capitalize;
    color: $monochromeBlack;
  }
}
