.testimonials {
  font-family: 'Inter', sans-serif;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // @include bp(phone) {
  //   display: block;
  // }

  &__headline {
    text-align: center;
  }

  &__card {
    padding: 64px 0;
    // max-width: 700px;
    margin: auto;
    text-align: center;

    &__wrapper {
      max-width: 600px;
      margin: auto;
    }
  }

  &__quote {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0;
    color: #1d1c1d;
    &__client {
      font-size: 20px;
      padding: 10px 0;
    }
  }
}
