.quote {
  font-family: 'Inter', sans-serif;
  min-height: 92vh;

  display: flex;
  justify-content: center;
  flex-direction: column;

  &__headline {
    text-align: center;
    color: $whitesmoke;
    @include bp(phone) {
      font-size: 32px;
      line-height: 120%; /* 38.4px */
      letter-spacing: -1.6px;
      text-align: left;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    // max-width: 340px;
    width: 100%;

    @include bp(phone) {
      flex-direction: column;
    }
  }

  &__button {
    text-align: center;
    margin: 24px 24px 0 0;
    background-color: $whitesmoke;
    color: $black;
    @include bp(phone) {
      width: 100%;
      text-align: left;
    }
  }

  &__button--white {
    background-color: transparent;
    color: $black;
  }
}
