.testimonials {
  font-family: 'Inter', sans-serif;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // @include bp(phone) {
  //   display: block;
  // }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @include bp(phone) {
      display: block;
    }
  }

  &__section {
    width: 50%;
    padding: 0 8rem;
    @include bp(phone) {
      padding: 8rem 2rem;
      width: 100%;
    }
  }

  &__contact__section {
    width: 50%;
    @include bp(phone) {
      margin-top: 2rem;
      width: 100%;
    }
  }

  &__contact__block {
    // width: 50%;
    padding: 3rem;
    // @include bp(phone) {
    //   margin-top: 2rem;
    //   width: 100%;
    // }
  }

  &__headline {
    text-align: left;
  }

  &__card {
    padding: 64px 0;
    // max-width: 700px;
    margin: auto;
    text-align: left;
  }

  &__quote {
    &__client {
      font-size: 20px;
      padding: 10px 0;
    }
  }
}
