.testimonials {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__headline {
    text-align: center;
  }

  &__card {
    padding: 64px 0;
    // max-width: 700px;
    margin: auto;
    text-align: center;
  }

  &__quote {
    &__client {
      font-size: 20px;
      padding: 10px 0;
    }
  }
}
