.quote {
  font-family: 'Inter', sans-serif;
  background-color: $taupe;

  &__headline {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.4px;
    color: $monochromeBlack;
    text-align: center;
    @include bp(phone) {
      font-size: 32px;
      line-height: 120%; /* 38.4px */
      letter-spacing: -1.6px;
      text-align: left;
    }
  }

  &__button {
    text-align: center;
    margin: 64px auto 0;
  }
}
