.home-expertise {
  font-family: 'Inter', sans-serif;
  background-color: $whitesmoke;
  @include bp(phone) {
    padding: 30px;
  }

  &__headline {
    padding-bottom: 32px;
    @include bp(phone) {
      font-size: 2.5rem;
      line-height: 120%;
      letter-spacing: -0.125rem;
      padding-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
  }

  &__item {
    display: flex;
    place-items: center;
    min-width: 264px;
    background-color: transparent;
    border: none;
    color: $black;
    min-height: 100px;
    text-transform: capitalize;
    text-align: left;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.05rem;

    &:hover {
      background-color: $taupe;
    }

    &__arrow {
      max-width: 20px;
      transform: rotate(0);
      transition: 300ms transform;
    }

    &:hover &__arrow {
      transform: rotate(-40deg);
      transition: 300ms transform;
    }

    & p {
      max-width: 170px;
    }
  }
}

//Accordion

.accordion-faq {
  &__title {
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__wrapper {
    position: relative;

    .plus {
      display: none;
      @include bp(tablet) {
        display: block;
        position: absolute;
        right: 4px;
        width: 16px;
        top: 20px;
        left: auto;
      }
    }
  }

  &__content {
    // padding: 0 0 20px;

    overflow: hidden;
    will-change: max-height;
    transition: all 0.25s ease-out;
    color: $black;
    opacity: 1;
    font-size: 0.9rem;
    line-height: 22px;
    font-family: 'Retina Light', sans-serif;

    @include bp(tablet) {
      max-height: 0;
      opacity: 0;
    }
  }

  &__active {
    .accordion-faq__intro {
    }

    .accordion-faq__content {
      margin-bottom: 15px;
      opacity: 1;
    }

    .plus {
      transition: all 250ms;
      transform: rotate(180deg);
    }
  }
}
