.quote {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 128px;

  &__headline {
    color: $black;
    text-align: center;
    @include bp(phone) {
      text-align: left;
    }
  }

  &__button {
    text-align: center;
    margin: 64px auto 0;
  }
}
