.email {
  font-family: 'Inter', sans-serif;

  &__headline {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3.6px;
    margin: 0;
    @include bp(phone) {
      font-size: 48px;
      letter-spacing: -2.4px;
    }
  }

  &__copy {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.6px;
    padding: 24px 0;
  }

  & form {
    padding: 16px 0;
  }

  & input {
    border: 1px solid $monochromeBlack;
    border-radius: 0;
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    max-width: 440px;
    width: 100%;
  }

  & input::placeholder {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;
    color: $monochromeBlack;
  }

  & a {
    color: $monochromeBlack;
    text-decoration: underline;
  }

  &__submit {
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: $monochromeBlack;
    border-radius: 0;
    padding: 0 32px;
    color: $whitesmoke;
    height: 50px;
    line-height: 50px;
    border: 1px solid $monochromeBlack;
    display: inline;
    margin-top: 32px;
  }

  &__disclaimer {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
