.accordion {
  display: flex;
  // height: max-content;
  height: 80vh; /* <--- This is what you need */

  @include bp(tablet) {
    // display: none;
  }

  &--horizontal {
    .accordion {
      &__item {
        width: 50px;
        display: flex;
        position: relative;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;

        ul {
          list-style-type: none;

          li {
            margin: 0 0 15px 0;
            line-height: 1.2;
          }
        }

        &:last-of-type {
          border-right: 1px $black solid;
        }

        &:not(active) {
          border-left: 1px $black solid;
        }

        &:first-child {
          border-left: 1px $black solid;
        }
      }

      &__heading {
        color: $black;
        max-width: 60px;
        // height: 100%;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        margin: 0px;
        cursor: pointer;

        font-size: 20px;
        font-weight: 700;
        line-height: 120%; /* 24px */
        letter-spacing: -0.6px;
      }

      &__body {
        min-width: calc(590px - 272px);
        overflow: hidden;
        color: $black;
        padding: 20px 64px;
      }

      &__headline {
        font-size: 68px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 72px */
        letter-spacing: -3.6px;
      }

      &__copy {
        font-size: 20px;
        line-height: 120%; /* 24px */
        letter-spacing: -0.6px;
        padding: 24px 0;
      }

      &__image {
        padding-bottom: 24px;
        & img {
          width: 640px;
          height: 360px;
        }
      }
    }
  }

  &__item {
    flex-grow: 0;
    transition: flex-grow 0.25s ease-in;
    overflow: hidden;

    &.active {
      flex-grow: 1;
    }
  }

  &__heading {
    font-size: 1.8rem;
    line-height: 0.75;
    padding: 16px;
  }
}
