.email {
  font-family: 'Inter', sans-serif;

  &__headline {
    margin: 0;
    @include bp(phone) {
      font-size: 48px;
      letter-spacing: -2.4px;
    }
  }

  &__copy {
    padding: 24px 0;

    & a {
      text-decoration: underline;
      color: $black;
    }
  }

  &__form {
    width: 100%;

    @include bp(phone) {
      width: 100%;
    }
  }
}

.email__form > .with_frm_style input[type='text'],
.email__form > .with_frm_style input[type='email'],
.email__form > .with_frm_style input[type='tel'],
.email__form > .with_frm_style textarea {
  padding: 12px;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 16px;
  height: initial;

  ::placeholder {
    color: $black;
  }
}

.email__form > .with_frm_style select {
  background-color: $taupe;
  border: 1px solid $black;
}
