.stats {
  padding: 128px 0;
  background-color: $whitesmoke;
  @include bp(laptop) {
    display: none;
  }

  &__bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  &__background,
  &__progress {
    background-position: top left;
    background-attachment: fixed;
    background-size: 44px 44px;
  }

  &__background {
    width: 100%;
  }

  &__overlay-percent {
    margin-left: auto;
    padding: 0 20px;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 128px */
    letter-spacing: -6.4px;
    background-color: $whitesmoke;
    color: $black;
    position: absolute;
  }

  &__label {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.05rem;
    opacity: 0;
    text-align: center;

    // margin-left: auto;
    // position: absolute;
    // top: -12px;
    // padding: 0 10px;

    // font-size: 1.25rem;
    // font-weight: 700;
    // line-height: 120%;
    // letter-spacing: -0.05rem;

    &-orange {
      transform: translate(792px, 0px);
      max-width: 200px;
    }

    &-green {
      transform: translate(514px, 0px);
      max-width: 243px;
    }

    &-blue {
      transform: translate(530px, 0px);
      max-width: 340px;
    }

    &-dark {
      transform: translate(411px, 0px);
      max-width: 230px;
    }
  }

  &__progress {
    padding: 0 20px;
    min-height: 100px;
    position: relative;
  }

  &__progress-wrap {
    width: 0%;
    margin: 20px 0 0;
  }
}

.mobile-stats {
  display: none;
  @include bp(laptop) {
    display: block;
  }

  &__wrapper {
    max-width: 300px;
    margin: auto;
    position: relative;
  }

  &__item {
    text-align: center;
    // min-height: 100px;
  }

  &__box {
    // min-height: 100px;
    padding: 32px;

    & h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 100%; /* 48px */
      letter-spacing: -2.4px;
    }

    & p {
      font-size: 20px;
      font-weight: 500;
      line-height: 140%; /* 28px */
      letter-spacing: -0.6px;
    }
  }
}
