.quote {
  font-family: 'Inter', sans-serif;
  padding: 128px;
  background-color: $monochromeTaupe;

  &__headline {
    color: $monochromeBlack;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.4px;
  }

  &__button {
    text-align: center;
    margin: 64px auto 0;
  }
}
