.search-icon {
  max-width: 15px;
  margin-left: auto;
}

.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.09);
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  box-sizing: border-box;
  padding: 6px 128px;

  @include bp(tablet) {
    padding: 20px;
  }

  .event-summary p {
    padding-top: 0;
  }

  .event-summary {
    margin-bottom: 0;
    margin-top: 20px;
  }

  body.admin-bar & {
    top: 32px;
  }

  // &__top {
  //   border-bottom: 1px solid $taupe;
  // }

  &__wrapper {
    position: relative;
    border-bottom: 1px solid $whitesmoke;
  }

  &__icon {
    margin-right: 10px;
    max-width: 15px;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(138deg)
      brightness(103%) contrast(102%);
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }

  &__pill {
    margin: 30px 0 1px 0;
    font-weight: 400;
    font-size: 2rem;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 6px;
    cursor: pointer;
    transition: all 0.3s;
    max-width: 15px;
    color: $taupe;
    line-height: 0.7;
  }

  &__close:hover {
    opacity: 1;
  }

  .one-half {
    padding-bottom: 0;
  }
}

.search {
  &__results {
    // padding: 35px 0;
  }
  &__result {
    display: flex;
    gap: 16px;
    border: 1px solid $whitesmoke;
    border-radius: 10px;
    place-items: center;
    margin: 32px 0;
  }

  &__result__link {
    color: $white;
  }

  &__result img {
    width: 100px;
    height: 100px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }

  &__result__pill {
    margin-top: 0;
  }

  &__result__none {
    color: $white;
    padding: 90px 0;
    font-size: 13px;
    & a {
      color: $white;
      text-decoration: underline;
    }
  }

  &__result__title {
    font-size: 1rem;
    color: $white;
  }
}

.search-term {
  width: 75%;
  box-sizing: border-box;
  border: none;
  padding: 15px 0;
  margin: 0;
  background-color: transparent;
  font-size: 13px;
  font-weight: 300;
  outline: none;
  color: $white;
}

.body-no-scroll {
  overflow: hidden;
}

.spinner-loader {
  margin-top: 45px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid $whitesmoke;
  border-top-color: black;
  animation: spin 1s infinite linear;
}

.link-list {
  li {
    padding: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px dotted #dedede;

    .search-overlay & {
      font-size: 1.3rem;
    }
  }

  li:last-child {
    border-bottom: none;
  }

  a {
    color: $orange;
  }
}

.professor-cards {
  margin: 0;
  padding: 0;

  .search-overlay & {
    padding-top: 21px;
  }
}

.professor-card {
  position: relative;
  display: inline-block;
  width: 200px;
  margin-right: 15px;
  background-color: $orange;
  overflow: hidden;

  .search-overlay & {
    width: 180px;
  }

  &__image {
    display: block;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }

  &:hover &__image {
    opacity: 0.8;
    transform: scale(1.1) rotate(4deg);
  }

  &__name {
    font-weight: 300;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 0;
    right: 0;
    padding: 3px 10px;
    background-color: adjust-color($orange);
  }

  &:hover &__name {
    background-color: adjust-color($orange);
  }

  &__list-item {
    display: inline-block;
    list-style: none;
  }
}

.row {
  display: flex;
  gap: 20px;

  @include bp(phone) {
    flex-direction: column;
  }
}

.one-third {
  width: 33.33%;
  @include bp(phone) {
    width: 100%;
  }
}
