.sector-form {
  font-family: "Inter", sans-serif;
  // padding: 128px;
  background-color: $whitesmoke;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include bp(tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__padding {
    padding: 8rem;
    @include bp(laptop) {
      padding: 2rem 1.5rem;
    }
  }

  &__headline {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.4px;
    padding-bottom: 24px;
  }

  &__form {
    max-width: 540px;

    &__copy {
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: -0.6px;
    }

    &__required {
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
      color: $orange;
      padding: 32px 0 16px;
    }

    & form {
      display: flex;
      flex-direction: column;
    }

    & input {
      padding: 12px;
      background-color: transparent;
      border: 1px solid $taupe;
      border-radius: 0;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-transform: uppercase;
      &::placeholder {
        color: $black;
        &::after {
          content: " *";
          color: red;
        }
      }

      &[type="submit"] {
        font-size: 0.8em;
        background-color: $black;
        border: 1px solid $black;
        color: $whitesmoke;
        padding: 16px 32px;
        text-transform: uppercase;
        margin: 16px 0;
      }
    }

    // & label {
    //   visibility: hidden;
    // }
  }

  &__card {
    border: 1px solid $taupe;
    padding: 64px;
    max-width: 356px;
    height: max-content;

    &__image {
      margin: auto;
      width: 228px;
      height: 226px;
    }

    &__name {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -1.6px;
    }

    &__title {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-transform: uppercase;
      padding: 8px 0 16px;
    }

    &__email {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
