.member {
  font-family: 'Inter', sans-serif;
  padding: 128px;
  background-color: $whiteSmoke;

  &__card {
    display: flex;
    gap: 64px;
  }

  & img {
    width: 500px;
  }

  &__person {
    max-width: 400px;
    width: 100%;
  }

  &__headline {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3.6px;
  }

  & article {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__details {
    padding-top: 24px;

    &__bio {
      padding-bottom: 64px;
    }

    & a {
      text-decoration: underline;
      color: $black;
    }
  }

  &__competencies {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.6px;
  }

  &__line {
    width: 384px;
    height: 1px;
    margin: 8px 0 14px;
  }

  &__pillbox {
    display: flex;
    flex-wrap: wrap;
  }

  &__pill {
    margin: 5px 10px 5px 0;
  }
}

// Crossfading

.fadein {
  position: relative;
  width: 500px;
}
.fadein img {
  position: absolute;
  top: 0;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#f1 {
  background-color: lightblue;
}
#f2 {
  -webkit-animation-delay: -4s;
  background-color: yellow;
}
#f3 {
  -webkit-animation-delay: -2s;
  background-color: lightgreen;
}
