.member {
  font-family: 'Inter', sans-serif;
  padding: 128px;
  background-color: $whiteSmoke;

  &__card {
    display: flex;
    gap: 64px;
  }

  & figure {
    margin: 0;

    & img {
      max-width: 732px;
    }
  }

  &__person {
    max-width: 400px;
    width: 100%;
  }

  &__headline {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3.6px;
  }

  & article {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  &__details {
    padding-top: 24px;

    &__bio {
      padding-bottom: 64px;
    }
  }

  &__competencies {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.6px;
  }

  &__line {
    width: 384px;
    height: 1px;
    margin: 8px 0 14px;
  }

  &__pillbox {
    display: flex;
    flex-wrap: wrap;
  }

  &__pill {
    margin: 5px 10px 5px 0;
  }
}
