.testimonials {
  font-family: 'Inter', sans-serif;
  padding: 128px;
  background-color: $whiteSmoke;

  &__headline {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3.6px;
    margin: 0;
    padding-top: 24px;
    text-align: center;
  }

  &__card {
    padding: 64px 0;
    max-width: 700px;
    margin: auto;
    text-align: center;
  }

  &__quote {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
    letter-spacing: -2.4px;
  }
}
