.about__timeline {
  padding: 128px 0;
  position: relative;

  &__line {
    position: absolute;
    top: 221px;
    width: 100%;
    border-top: 1px solid $whitesmoke;
    @include bp(phone) {
      top: 201px;
    }
  }

  &__pill {
    width: max-content;
    padding: 4px 16px;
    border-radius: 100px;
    background: transparent;
    margin: 10px 0;
    box-shadow: 0px 0px 1px 0px #787878;
    background-color: $black;
    color: #787878;
    @include bp(phone) {
      background: $taupe;
    }

    &__text {
      color: #787878;
      @include bp(phone) {
        color: $black;
      }
    }
  }

  &__headline {
    text-align: center;
    color: $white;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: auto;
    padding: 10px;
    z-index: 3;
    min-height: 240px;
  }

  &__story {
    color: #787878;
    text-align: center;
    margin-top: 1rem;
    @include bp(phone) {
      color: $white;
    }
  }
}

.is-active > .about__timeline__wrapper .about__timeline__story {
  color: $white;
  transition: color 0.2s ease;
}

.is-active > .about__timeline__wrapper .about__timeline__pill__text {
  color: $black;
  transition: color 0.2s ease;
}

.is-active > .about__timeline__wrapper .about__timeline__pill {
  background: $taupe;
  transition: background 0.2s ease;
}

// #slider5 {
//   padding: 3em 0 !important;
// }

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none !important;
}

#splide5 .splide__arrow svg {
  fill: $white !important;
  height: 1.5em !important;
  width: 1.5em !important;
}
