.about {
  font-family: 'Inter', sans-serif;

  &__intro {
    &__copy {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 38.4px */
      letter-spacing: -1.6px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 280px;
      gap: 16px;
    }

    &__button {
      text-align: center;
      margin: 64px 0;

      &-transparent {
        background-color: transparent;
        color: $black;
      }
    }
  }

  &__mission {
    text-align: center;

    &__pill {
      margin: auto;
    }

    &__headline {
      font-size: 54px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 72px */
      letter-spacing: -3.6px;
      padding: 32px 0;
    }

    &__copy {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 33.6px */
      letter-spacing: -0.72px;
    }
  }
}
