.about {
  font-family: 'Inter', sans-serif;

  &__hero {
    &__wrapper {
      position: relative;
    }

    &__padding {
      @include bp(laptop) {
        padding: 4rem 1.5rem;
      }
      @include bp(phone) {
        padding: 0 1.5rem 2rem;
      }
    }
    &__video {
      // display: block;
      width: 200px;
      padding: 0 0 1rem;
      position: absolute;
      top: 6vw;
      right: 4vw;
      z-index: 1;

      @include bp(laptop) {
        width: 200px;
        top: -6vw;
      }

      @include bp(tablet) {
      }

      @include bp(phone) {
        width: 100%;
        display: block;
        position: static;
      }
    }

    &__headline {
      font-size: 15vw;
      font-weight: bold;
      line-height: 100%; /* 256px */
      letter-spacing: -0.5rem;
      color: $whitesmoke;
      margin: 0;
      padding-bottom: 32px;
      z-index: 2;
      position: relative;

      @include bp(tablet) {
        font-size: 13vh;
        padding-bottom: 10px;
        line-height: 120%;
        letter-spacing: -0.12rem;
        z-index: 3;
        position: relative;
      }

      @include bp(phone) {
        font-size: 9vh;
      }

      // @include bp(phone_small) {
      //   font-size: 4rem;
      // }
    }

    &__copy {
      font-size: 2rem;
      color: $whitesmoke;
      max-width: 500px;
      width: 80%;
      position: relative;
      z-index: 2;

      @include bp(tablet) {
        font-size: 1.5rem;
      }

      @include bp(phone) {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  &__intro {
    &__copy {
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 280px;
      gap: 16px;
    }

    &__button {
      text-align: center;
      margin: 32px 0 0;
      // &-transparent {
      //   background-color: transparent;
      //   color: $black;
      // }
    }
  }

  &__investigations {
    &__wrapper {
      display: flex;
      gap: 70px;
      @include bp(phone) {
        flex-direction: column;
      }
    }

    &__bullets {
      @include bp(phone) {
        padding: 0px 30px;
      }
    }

    & article {
    }

    &__headline {
      padding: 24px 0;
    }

    &__copy {
      font-size: 20px;
      font-weight: 400;
      line-height: 140%; /* 28px */
      letter-spacing: -0.6px;
    }

    &__bullets &__bullet--taupe::before {
      content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $taupe;
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 35px; /* Also needed for space (tweak if needed) */
      margin-left: -39px; /* Also needed for space (tweak if needed) */
      font-size: 40px;
    }

    &__bullets &__bullet--blue::before {
      content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $blue;
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 35px; /* Also needed for space (tweak if needed) */
      margin-left: -39px; /* Also needed for space (tweak if needed) */
      font-size: 40px;
    }

    &__bullets &__bullet--green::before {
      content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $green;
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 35px; /* Also needed for space (tweak if needed) */
      margin-left: -39px; /* Also needed for space (tweak if needed) */
      font-size: 40px;
    }

    &__bullets &__bullet--orange::before {
      content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $orange;
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 35px; /* Also needed for space (tweak if needed) */
      margin-left: -39px; /* Also needed for space (tweak if needed) */
      font-size: 40px;
    }

    &__bullet {
      padding: 0 0 20px;

      & h3 {
        display: inline;
      }

      & p {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }
    }
  }

  &__mission {
    text-align: center;

    &__pill {
      margin: auto;
    }

    &__headline {
      padding: 32px 0;
    }

    &__copy {
    }
  }

  &__whatis {
    &__card {
      position: relative;
      display: flex;
      color: $black;
      justify-content: space-evenly;
      @include bp(laptop) {
        flex-direction: column;
      }
    }

    &__image {
      margin: 0;
      width: 50%;
      position: relative;

      @include bp(laptop) {
        width: 100%;
        text-align: center;
      }

      & img {
        width: 100%;
        max-width: 600px;
        margin: auto;
      }
    }

    &__detail {
      align-self: center;
      width: 50%;
      margin: 0 auto;
      padding: 60px;
      @include bp(laptop) {
        width: 100%;
        padding: 60px 1.5rem;
      }
    }

    &__detail--left {
      margin: 0;
    }

    &__headline {
      padding-bottom: 20px;
    }

    &__copy {
      // font-size: 20px;
      // font-weight: 500;
      // line-height: 140%; /* 28px */
      // letter-spacing: -0.6px;
    }
  }
}
