.careers {
  font-family: 'Inter', sans-serif;

  &__hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__block {
      position: relative;
    }
    &__headline {
      color: $whitesmoke;
      text-align: center;
      font-size: 128px;
      font-weight: 700;
      line-height: 100%; /* 128px */
      letter-spacing: -6.4px;
      z-index: 5;
      position: relative;
      @include bp(tablet) {
        font-size: 3.75rem;
        line-height: 120%;
        letter-spacing: -0.12rem;
      }
    }

    &__box {
      width: 100px;
      height: 100px;
      position: absolute;

      &--orange {
        top: -100%;
        left: -30%;
        z-index: 2;

        @include bp(tablet) {
          top: -480%;
          left: 90%;
          z-index: 2;
        }
      }

      &--taupe {
        top: 150%;
        right: -50%;
        z-index: 2;
        @include bp(tablet) {
          left: -50%;
        }
      }

      &--blue {
        top: 60%;
        right: -7%;
        z-index: 1;
        width: 75px;
        height: 75px;
        @include bp(tablet) {
          display: none;
        }
      }

      &--green {
        top: -100%;
        right: 40%;
        z-index: 1;
        @include bp(tablet) {
          display: none;
        }
      }
    }

    &__images {
      width: 150px;
      position: absolute;

      &--one {
        top: -140%;
        right: 0;
        width: 200px;
        z-index: 2;
        @include bp(tablet) {
          top: 390%;
          right: -80px;
        }
      }

      &--two {
        top: 83%;
        right: 62%;
        width: 250px;
        @include bp(tablet) {
          display: none;
        }
      }

      &--three {
        top: 51%;
        right: -70%;
        z-index: 1;

        @include bp(tablet) {
          top: -469%;
          left: -30%;
          z-index: 1;
        }
      }

      &--four {
        top: -40%;
        left: -55%;
        z-index: 1;
        @include bp(tablet) {
          left: 65%;
        }
      }
    }
  }

  &__headline {
    font-size: 72px;
    font-weight: 700;
    line-height: 100%; /* 72px */
    letter-spacing: -3.6px;
    padding-bottom: 32px;

    &--white {
      color: $white;
    }
  }

  &__copy {
    // font-size: 16px;
    // font-weight: 400;
    // line-height: 150%; /* 24px */
  }

  &__list {
    color: $white;
    list-style: initial;
    margin-left: 15px;

    &--black {
      color: $black;
    }

    & li {
      padding-bottom: 10px;
    }
  }
}

.accordion-careers {
  width: 100%;
  // max-width: 800px;
  overflow: hidden;
  color: $white;
  border-top: 2px solid $white;
  background-color: $black;

  &:last-of-type {
    border-bottom: 2px solid $white;
  }

  &:last-child {
    border-bottom: 2px solid $white;
  }

  &__title {
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__wrapper {
    position: relative;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
    // max-width: 630px;

    &:hover {
      background-color: $whitesmoke;
      & p {
        color: $black;
      }
    }

    .arrow-down {
      position: absolute;
      top: 15px;
      right: 4px;
      max-width: 15px;

      &::after {
        position: absolute;
        top: -2px;
      }
    }
  }

  &__intro {
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */
    letter-spacing: -0.6px;
    color: $white;
    flex: 1 1 0px;

    &--hide {
      @include bp(tablet) {
        display: none;
      }
    }
  }

  &__content {
    // padding: 0 0 20px;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.25s ease-out;
    color: $black;
    opacity: 0;
    font-size: 0.9rem;
    line-height: 22px;
    background-color: $whitesmoke;
    padding: 0 15px;

    & ul {
      list-style: initial;

      & li {
        margin-left: 1rem;
      }
    }
  }

  &__button {
    background-color: transparent;
    padding: 12px 24px;
    text-transform: capitalize;
    color: $black;
    border: 1px solid $black;
    margin: 30px 0;

    & a {
      color: $black;
    }
  }

  &__active {
    background-color: $whitesmoke;

    .accordion-careers__intro {
      color: $black;
    }

    .accordion-careers__content {
      margin-bottom: 15px;
      opacity: 1;
    }

    .arrow {
      transition: all 250ms;
      transform: rotate(180deg);
    }
  }
}
