.careers {
  font-family: 'Inter', sans-serif;

  &__hero {
    // min-height: 92vh;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;

    &__block {
      position: relative;
    }
    &__headline {
      color: $whitesmoke;
      text-align: center;
      font-size: 128px;
      font-weight: 700;
      line-height: 100%; /* 128px */
      letter-spacing: -6.4px;
      z-index: 5;
      position: relative;
      @include bp(tablet) {
        font-size: 3.75rem;
        line-height: 120%;
        letter-spacing: -0.12rem;
      }
    }

    &__box {
      width: 100px;
      height: 100px;
      position: absolute;

      &--orange {
        top: -90%;
        left: 9%;
        z-index: 2;

        @include bp(tablet) {
          top: -360%;
          left: 68%;
          z-index: 2;
        }
      }

      &--taupe {
        top: 150%;
        right: 10%;
        z-index: 2;
        @include bp(phone) {
          top: 270%;
          right: 71%;
        }
      }

      &--blue {
        top: -30%;
        right: 25%;
        z-index: 1;
        width: 75px;
        height: 75px;
        @include bp(tablet) {
          top: -130%;
        }
      }

      &--green {
        top: -70%;
        right: 40%;
        z-index: 1;
        @include bp(phone) {
          top: -210%;
          right: 60%;
          width: 70px;
          height: 70px;
        }
      }
    }

    &__images {
      width: 150px;
      position: absolute;

      &--one {
        top: -120%;
        right: 22%;
        width: 200px;
        z-index: 2;
        @include bp(phone) {
          top: 240%;
          right: 2%;
        }
      }

      &--two {
        top: 83%;
        right: 55%;
        width: 250px;
        @include bp(laptop) {
          right: 45%;
        }

        @include bp(phone) {
          display: none;
        }
      }

      &--three {
        top: 61%;
        right: 0%;
        z-index: 1;

        @include bp(phone) {
          top: -439%;
          right: 57%;
          z-index: 1;
        }
      }

      &--four {
        top: -40%;
        left: 0%;
        z-index: 1;
        // @include bp(tablet) {
        //   left: 54%;
        // }
      }
    }
  }

  &__headline {
    font-size: 72px;
    font-weight: 700;
    line-height: 100%; /* 72px */
    letter-spacing: -3.6px;
    padding-bottom: 32px;

    &--white {
      color: $white;
    }
  }

  &__list {
    color: $white;
    list-style: initial;
    margin-left: 15px;

    &--black {
      color: $black;
    }

    & li {
      padding-bottom: 10px;
    }
  }
}

.careers__list {
  border-top: 2px solid $white;

  &:last-child {
    border-bottom: 2px solid $white;
  }
}

.careers__positions {
  width: 100%;
  overflow: hidden;
  color: $white;

  background-color: $black;

  // &:first-of-type {
  //   border-top: 2px solid $white;
  // }

  &__title {
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;

    &:hover {
      background-color: $whitesmoke;
      & p {
        color: $black;
      }
    }
  }

  &__intro {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.6px;
    color: $white;
    flex: 1 1 0px;
  }

  &__arrow {
    max-width: 20px;
    transform: rotate(0);
    transition: 300ms transform;
    filter: invert(99%) sepia(1%) saturate(1109%) hue-rotate(30deg)
      brightness(102%) contrast(90%);
  }

  &:hover &__arrow {
    transform: rotate(-40deg);
    transition: 300ms transform;
    filter: invert(6%) sepia(1%) saturate(3414%) hue-rotate(248deg)
      brightness(85%) contrast(87%);
  }
}
