.careers {
  font-family: "Inter", sans-serif;

  &__arrow {
    max-width: 20px;
    margin-left: auto;
    filter: invert(0%);
  }

  &__intro {
    &__wrapper {
      max-width: 600px;
      width: 100%;
      margin: auto;
    }
    &__headline {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 28.8px */
      letter-spacing: -0.2px;
      color: $whitesmoke;
    }

    &__button {
      background-color: $whitesmoke;
      padding: 12px 24px;
      width: 100%;
      color: $black;
      margin: 48px 0 0;
    }
  }

  &__banners {
    width: calc(92.3333% - 0.466667rem);
  }

  &__headline {
    font-size: 2.45em;
    font-weight: 700;
    line-height: 120%; /* 72px */
    letter-spacing: 0rem;
    padding-bottom: 32px;
    color: $whitesmoke;

    &--blue {
      color: $blue;
      padding-bottom: 0;
      // @include bp(tablet) {
      //   padding-bottom: 5rem;
      // }
    }

    &--taupe {
      color: $taupe;
    }

    &--green {
      color: $green;
    }

    &--white {
      color: $whitesmoke;
    }
  }

  &__copy {
    color: $whitesmoke;
  }

  &__list {
    list-style: none;
    text-align: center;

    & li {
      padding-bottom: 10px;
    }

    & p {
      color: rgba(242, 241, 237, 0.2);
      font-size: 5rem;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0;
      @include bp(phone) {
        font-size: 1.75rem;
      }
    }
  }

  &__culture {
    &__card {
      position: relative;
      display: flex;
      color: $black;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      @include bp(laptop) {
        flex-direction: column;
        flex-direction: column-reverse;
      }
    }

    &__image {
      margin: 0;
      width: 50%;
      position: relative;

      @include bp(laptop) {
        width: 100%;
        text-align: center;
      }

      & img {
        width: 100%;
        max-width: 600px;
        margin: auto;
      }
    }

    &__detail {
      align-self: center;
      width: 50%;
      margin: 0 auto;
      padding: 60px;
      @include bp(laptop) {
        width: 100%;
        padding: 60px 1.5rem;
      }
    }

    &__detail--left {
      margin: 0;
    }

    &__headline {
      font-size: 2.45em;
      font-weight: 700;
      line-height: 120%; /* 72px */
      letter-spacing: 0rem;
      padding-bottom: 32px;
      color: $whitesmoke;
    }

    &__copy {
      font-size: 20px;
      font-weight: 500;
      line-height: 140%; /* 28px */
      letter-spacing: -0.6px;
      color: $whitesmoke;
    }
  }
}

.careers__vision--desktop {
  @include bp(custom_laptop) {
    display: none;
  }
}

.careers__vision--mobile {
  display: none;
  @include bp(custom_laptop) {
    display: block;
  }
}

.careers__vision__padding {
  padding: 8rem 0 8rem 8rem;
  @include bp(laptop) {
    padding: 8rem 1.5rem;
  }
}

.career-values__container {
  position: relative;
  padding-top: 56.25%; /* Aspect ratio (16:9) = (9/16)*100 */
  height: 0;
}

.careers-values__card {
  position: absolute;
  border: 1px solid #f2f1ed;
  border-radius: 0% !important;
  background-color: #1d1c1d;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 10px 0 0 !important;
  padding: 32px;
  min-height: 290px;
  width: 320px !important;
}

#value-1 {
  top: 0;
  z-index: 5;

  &:hover {
    z-index: 8 !important;
    background-color: $blue;
  }

  &:hover > .careers__slide__card__number {
    color: $whitesmoke;
  }
}

#value-2 {
  top: 200px;
  left: 100px;
  z-index: 6;

  &:hover {
    z-index: 8 !important;
    background-color: $orange;
  }

  &:hover > .careers__slide__card__number {
    color: $whitesmoke;
  }

  & > .careers__slide__card__number {
    color: $orange;
  }
}

#value-3 {
  top: 100px;
  left: 350px;
  z-index: 7;

  &:hover {
    z-index: 8 !important;
    background-color: $green;
  }

  &:hover > .careers__slide__card__number {
    color: $whitesmoke;
  }

  & > .careers__slide__card__number {
    color: $green;
  }
}

#value-4 {
  top: 375px;
  left: 300px;
  z-index: 7;

  &:hover {
    z-index: 8 !important;
    background-color: $taupe;
  }

  &:hover > .careers__slide__card__number {
    color: $whitesmoke;
  }

  & > .careers__slide__card__number {
    color: $taupe;
  }
}

#value-5 {
  top: 250px;
  left: 700px;
  z-index: 5;

  &:hover {
    z-index: 8 !important;
    background-color: $taupe;
  }

  &:hover > .careers__slide__card__number {
    color: $whitesmoke;
  }

  & > .careers__slide__card__number {
    color: $taupe;
  }
}

#value-6 {
  top: 0px;
  left: 750px;
  z-index: 5;

  &:hover {
    z-index: 8 !important;
    background-color: $blue;
  }

  &:hover > .careers__slide__card__number {
    color: $whitesmoke;
  }
}

#value-7 {
  top: 450px;
  left: 500px;
  z-index: 8;

  &:hover {
    z-index: 8 !important;
    background-color: $green;
  }

  &:hover > .careers__slide__card__number {
    color: $whitesmoke;
  }

  & > .careers__slide__card__number {
    color: $green;
  }
}

.careers__openings {
  border-top: 2px solid $whitesmoke;

  &:last-child {
    border-bottom: 2px solid $whitesmoke;
  }
}

.careers__positions {
  width: 100%;
  overflow: hidden;
  color: $whitesmoke;

  background-color: $black;

  &__title {
    font-size: 0.8rem;
    font-weight: 500;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;

    @include bp(phone) {
      flex-direction: column;
      align-items: unset;
    }

    &:hover {
      background-color: $whitesmoke;
      & p {
        color: $black;
      }
    }
  }

  &__intro {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.6px;
    color: $whitesmoke;
    flex: 1 1 0px;

    &--bold {
      font-weight: 700;
    }
  }

  &__arrow {
    max-width: 20px;
    transform: rotate(0);
    transition: 300ms transform;
    filter: invert(99%) sepia(1%) saturate(1109%) hue-rotate(30deg)
      brightness(102%) contrast(90%);

    @include bp(phone) {
      position: absolute;
      right: 0;
      top: 37%;
    }
  }

  &:hover &__arrow {
    transform: rotate(-40deg);
    transition: 300ms transform;
    filter: invert(6%) sepia(1%) saturate(3414%) hue-rotate(248deg)
      brightness(85%) contrast(87%);
  }
}

.careers__slide {
  &__card {
    border: 1px solid $whitesmoke;
    border-radius: 0% !important;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 10px 0 0 !important;
    padding: 32px;
    min-height: 290px;
    width: 320px !important;

    &__number {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 38.4px */
      letter-spacing: -1.6px;
      color: $blue;
    }

    &__text {
      font-size: 2rem;
      font-weight: 700;
      color: $whitesmoke;
      line-height: 100%; /* 48px */
      letter-spacing: -0.08rem;
    }
  }
}

// Benefits Scroll

.benefit-items {
  color: $whitesmoke;
  font-size: 5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  transition: color 0.3s ease;
  @include bp(phone) {
    font-size: 1.75rem;
  }
}

.benefit-items.scrolled {
  color: rgba(242, 241, 237, 0.2);
}
