.education {
  &__accordion-container {
    display: block;
  }

  &__arrow {
    align-content: center;
  }

  &__category-bullets {
    padding: 32px;
  }

  &__button {
     @include bp(laptop) {
    width: 100%;
  }
   
  }
}
