.education {
  &__accordion-container {
    display: block;
  }

  &__arrow {
    align-content: center;
  }

  &__category-bullets {
    padding: 32px;
  }

  &__button {
     @include bp(laptop) {
    width: 100%;
  }
   
  }

  &__items {
    font-size: 2rem !important;
       @include bp(laptop) {
     font-size: 1rem !important;
  }
  }

  &__number {
    font-size: 2rem !important;
    color: $taupe !important;
         @include bp(laptop) {
     font-size: 1rem !important;
  }
  }
}

.mobile-accordion__items--education {
flex-direction: row;
}

