.education {
  &__accordion-container {
    display: block;
  }

  &__arrow {
    align-content: center;
  }

  &__category-bullets {
    padding: 32px 0;
  }

  &__button {
     @include bp(phone) {
    width: 100%;
  }
   
  }

  &__items {
    font-size: 2rem !important;
    text-transform: capitalize;
       @include bp(laptop) {
     font-size: 1rem !important;
  }
  }

  &__number {
    font-size: 2rem !important;
    color: $taupe !important;
         @include bp(laptop) {
     font-size: 1rem !important;
  }
  }
}

.mobile-accordion__items--education {
flex-direction: row;
}

.education .ac-panel {
  border-right: 1px solid $black;
  border-left: 1px solid $black;
}

.education .ac:last-child {
  border-bottom: 1px solid $black;
}

.education .ac:last-child {
  margin-bottom: 8rem;
}

.education a {
  text-decoration: underline;
  color: $black;
}

.education ul{
  list-style: disc;
}

.education li {
  font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.72px;
    color: #1d1c1d;
    padding: 10px 0;
    margin-left: 30px;
}

.education p {
  margin-bottom: 10px;
}

