.home {
  font-family: 'Inter', sans-serif;

  &__banner {
    height: 92vh;

    &__headline {
      color: $whitesmoke;
      font-size: 5rem;
      overflow: hidden;
      letter-spacing: -0.7rem;
      line-height: 110%;

      // @include bp(phone) {
      //   font-size: 13rem !important;
      // }
    }
  }

  &__hero {
    position: relative;
    // height: 100vh;
    background-color: #1d1c1d;
    transition: background-color 0.4s; /* Add a smooth transition for background color changes */

    &__padding {
      padding: 15rem 8rem 8rem;
      @include bp(phone) {
        padding: 8rem 2rem;
      }
    }

    &__buttons {
      display: flex;
      justify-content: flex-start;
      // max-width: 340px;
      width: 60%;

      @include bp(tablet) {
        flex-direction: column;
        width: 100%;
      }
    }

    &__button {
      text-align: center;
      margin: 5px 24px 0 0;
      @include bp(phone) {
        width: 100%;
        margin: 1rem 0 0;
      }
    }

    &__button--white {
      background-color: transparent;
      color: $black;
    }

    &__wrapper {
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      gap: 0;
      padding: 3rem 0 0 0;
      @include bp(phone) {
        padding: 2rem 0 0;
        display: block;
      }
    }

    &__container {
      width: 100%;
    }

    &__text {
      // max-width: 480px;
      width: 100%;
      @include bp(phone) {
        display: none;
      }

      &--mobile {
        display: none;
        @include bp(phone) {
          display: block;
          padding: 2rem 0 0;
        }
      }
    }

    &__copy {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 120%;
      letter-spacing: 0px;
      margin: 0;
      @include bp(phone) {
        font-size: 1.25rem;
        line-height: 140%;
        letter-spacing: -0.6px;
      }
    }
  }
}
