.home {
  font-family: 'Inter', sans-serif;

  &__hero {
    position: relative;
    height: 100vh;

    &__buttons {
      display: flex;
      justify-content: space-between;
      max-width: 340px;
      width: 100%;

      @include bp(tablet) {
        flex-direction: column;
      }
    }

    &__button {
      text-align: center;
      margin: 20px 0 0;
    }

    &__button--white {
      background-color: transparent;
      color: $black;
    }

    &__headline {
      padding: 80px 128px;
      @include bp(tablet) {
        padding: 25px;
      }
    }

    &__copy {
      font-size: 4rem;
    }

    &__scroll-container {
      display: flex;
      flex-direction: row;
    }
    &__scroll {
      white-space: nowrap;
      font-size: 200px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 256px */
      letter-spacing: -12.8px;
      color: $black;
      margin: 0;
      padding-bottom: 32px;
    }
  }
}
