.seminars {
  font-family: "Inter", sans-serif;
  background-color: $black;

  &__headline {
    padding: 1.5rem 0;
    color: $whitesmoke;
    text-align: center;

    & a {
      color: $whitesmoke;
    }
  }

  &__subheadline {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    text-align: center;
    color: $whitesmoke;
  }

  &__copy {
    padding: 0 0 2rem;
    color: $whitesmoke;

    @include bp(phone) {
      display: none;
    }

    & a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__copy--mobile {
    display: none;
    padding: 0;

    @include bp(phone) {
      display: block;
    }

    & a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__button {
    background-color: transparent;
    text-transform: uppercase;
    color: $black;
    border: none;
    padding: 10px 15px;
    font-size: 0.95rem;    
    width: 100%;
    margin-left: 0;
    text-align: left;
    margin-top: auto;        // pushes it to the bottom
    align-self: flex-start; 
    font-weight: 600;
  }

  &__max-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding-top: 64px;
    justify-items: center;
  }

  &__card {
    display: flex;
    gap: 15px;
    background-color: $whitesmoke;
    min-height: 400px;
    max-width: 400px;

    &__content {
      padding: 15px;
      flex: 1 1 auto; // content takes up available space above CTA

    }

    &__image {
      max-width: 500px;
      padding: 16px 0;
      @include bp(tablet) {
        height: auto;
      }
    }

   &__link {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  text-decoration: none;
}

    &__label {
      display: flex;
      justify-content: flex-start;
      // gap: 10px;
      padding: 0 0 16px;
      place-items: center;

      &__category {
        // background-color: $blue;
        border-radius: 100px;
        &__text {
          font-size: 0.75rem;
          line-height: 160%;
          margin: 0;
          padding: 2px 8px;

          & a {
            color: $black;
          }
        }

        &__text--single {
          // font-size: 12px;
          // font-style: normal;
          // font-weight: 700;
          // line-height: 150%;
          padding: 2px 8px;

          & a {
            color: $whitesmoke;
          }
        }
      }

      &__read {
        font-size: 0.75rem;
        line-height: 160%;
        margin: 0;
        padding: 2px 8px;
      }

      &__date {
        font-size: 0.75rem;
        line-height: 160%;
        margin: 0;
        padding: 10px 0;
      }
    }

    &__title {
      font-size: 1.2rem;
    }

    &__date {
      color: $black;
      font-size: 2.9rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -1.6px;
    }

    &__title {
      color: $black;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      padding: 15px 0;
    }

    &__speaker {
      color: $black;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }




    &__more {
      font-size: 0.75rem;
      line-height: 160%;
      margin: 0;
      padding-top: 24px;

      & img {
        max-width: 20px;
      }

      & a {
        color: $black;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
      }
    }
  }

  &__filter-dropdown {
    min-width: 310px;
    position: relative;
    flex-grow: 1;
  }

  &__filter-dropdown * {
    box-sizing: border-box;
  }

  &__select {
    background: $whitesmoke;
    color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px $taupe solid;
    padding: 16px 32px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; /* 18px */
    text-transform: uppercase;
    flex-grow: 1;
  }

  &__caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $black;
    transition: 0.3s;
  }

  &__caret-rotate {
    transform: rotate(180deg);
  }

  &__menu {
    list-style: none;
    // padding: 0.2em 0;
    background: $whitesmoke;
    border: 1px $taupe solid;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }

  &__menu li {
    padding: 16px 32px;
    cursor: pointer;
    border-bottom: 1px $taupe solid;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; /* 18px */
    text-transform: uppercase;
    color: $black;
  }

  &__menu li:hover {
    background: $taupe;
  }

  &__menu-open {
    display: block;
    opacity: 1;
  }

  &__load {
    margin: 2rem auto;
    background-color: $whitesmoke;
    color: $black;
  }
}

.paginate {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: $black;
  place-items: center;

  & .prev,
  .next {
    display: none;
  }
}

.page-numbers {
  color: $black;
}

.current {
  border-radius: 6.25rem;
  background: $taupe;
  box-shadow: 0px 0px 1px 0px $black;
  width: 36px;
  height: 36px;
  padding: 8px;
  text-align: center;
}

.seminars-divider {
  width: 100%;
  border: 0;
  border-top: 1px solid $taupe;
  margin: 0;                      
}
 
.seminar-post-divider {
  width: 100%;
  border: 0;
  border-top: 1px solid $black;
  margin: 25px 0 20px;                      
}