.seminars {
  &__button {
    margin: 40px 0 0;
  }

  & > ol {
    list-style: auto;
    margin: 0 0 1.5em 3em;
  }

  & img {
    max-width: 100%;
    padding: 1.25rem 0;
  }

  & > h1 {
    font-size: 3.125rem;
    line-height: normal;
    letter-spacing: normal;
    padding: 0 0 1.563rem;
  }

  & > h2 {
    font-size: 1.875rem;
    line-height: normal;
    letter-spacing: normal;
    padding: 20px 0 10px;
  }
  & > h3 {
    font-size: 30px;
    line-height: normal;
    letter-spacing: normal;
    padding: 0 0 10px;
  }

  & > h4 {
    font-size: 30px;
    line-height: normal;
    letter-spacing: normal;
    padding: 0 0 10px;
  }

  & > h5 {
    font-size: 13px;
    line-height: normal;
    letter-spacing: normal;
  }

  & > p {
    font-size: 15px;
    padding: 10px 0;
  }

  & > ul {
    list-style: disc;
    padding-left: 20px;
  }
}
