.event-post {
  &__container {
    display: flex;
    justify-content: space-between;

    @include bp(tablet) {
      display: block;
    }
  }

  &__left {
    width: 60%;
    @include bp(tablet) {
      width: 100%;
    }
  }

  &__pill {
    margin: initial;
  }
  &__headline {
    padding: 20px 0;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -4%;
    margin: 0;
  }

  &__copy ~ p {
    a {
      text-decoration: underline;
    }
  }
  &__card {
    border: 1px solid #1d1c1d;
    padding: 32px;
    margin: 32px auto;
    max-width: 300px;
    background-color: $whitesmoke;

    @include bp(tablet) {
      max-width: 100%;
      margin: 32px 0;
    }
  }
  &__label__category__text {
    font-size: 0.75rem;
    line-height: 160%;
    margin: 0;
    padding: 2px 8px;

    & a {
      color: $whitesmoke;
    }
  }
}

.lightgallery {
  display: grid; /* Use grid layout for better control */
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Auto-adjust columns */
  gap: 10px; /* Add spacing between items */
  justify-content: center; /* Center items within the container */
}

.lightgallery a {
  display: block; /* Ensure each <a> acts like a block container */
  text-decoration: none; /* Remove underline for links */
}

.lightgallery img {
  max-width: 100%; /* Set a maximum width for each thumbnail */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Add a hover effect */
}

// .lightgallery img:hover {
//   transform: scale(1.1); /* Slight zoom on hover */
//   border-color: #0073aa; /* Optional: Change border color on hover */
// }
