.news-post {
  color: $whitesmoke;
  &__container {
    display: flex;
    justify-content: space-between;

    @include bp(tablet) {
      display: block;
    }

    & p {
    color: $whitesmoke;
    margin-bottom: 10px;
  }

   & ul {
    list-style: disc;
     margin: 0 0 1.5em 3em;
     color: $whitesmoke
  }


   & a {
      color: $whitesmoke;
      text-decoration: underline;
    }

    & img {
          margin-bottom: 10px;

    }

  }

  &__left {
    width: 60%;
    @include bp(tablet) {
      width: 100%;
    }
  }

  &__pill {
    margin: initial;
  }
  &__headline {
    color: $whitesmoke;
    padding: 20px 0;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0;
  }

  
  &__card {
    border: 1px solid #1d1c1d;
    padding: 32px;
    margin: 32px auto;
    max-width: 300px;
    background-color: $whitesmoke;

    @include bp(tablet) {
      max-width: 100%;
      margin: 32px 0;
    }
  }
  &__label__category__text {
    font-size: 0.75rem;
    line-height: 160%;
    margin: 0 !important;
    padding: 2px 8px !important;

    & a {
      color: $whitesmoke;
      text-decoration: none;
    }
  }

}





