.single-post {
  padding: 0px;

  &__card {
    color: $black;
    text-align: center;
    padding: 0 128px;
  }

  &__figure {
    margin: auto;
    width: 100%;
    position: relative;
  }

  &__detail {
    padding: 60px 0 20px;
    @include bp(phone) {
      width: 100%;
      padding: 60px 20px;
    }

    &--center {
      text-align: center;
      max-width: 500px;
    }

    &--left {
      margin: 0;
    }
  }

  &__headline {
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -3.6px;
    color: $white;
    padding: 20px 0;
  }

  &__copy {
    color: $white;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 0 0 20px;
  }

  &__date {
    color: $white;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 0 0 20px;
  }

  &__stats {
    display: flex;
    justify-content: space-evenly;
  }

  &__stats-item {
    font-family: 'Inter', serif;

    text-align: center;
    width: 100%;
    padding: 16px 0;

    &--number {
      font-size: 3rem;
      color: $white;
      // font-weight: 600;
      border-right: 1px solid rgba(128, 131, 102, 0.3);
    }

    &--label {
      font-size: 1rem;
      color: $black;
      // font-weight: 600;
      border-right: 1px solid rgba(128, 131, 102, 0.3);
    }
  }
}

.single-blog {
  font-family: 'Inter', sans-serif;
  background-color: $whitesmoke;

  @include bp(phone) {
    // padding: 60px 0;
  }

  &__button {
    margin: 40px 0 0;
  }

  &__single-post {
    & > ol {
      list-style: auto;
      margin: 0 0 1.5em 3em;
    }

    & img {
      max-width: 100%;
      padding: 20px 0;
    }

    & > p {
      font-size: 15px;
      padding: 10px 0;
    }

    & > h2 {
      font-size: 20px;
      padding: 25px 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $taupe;
    gap: 10px;
  }

  &__card {
    padding: 64px;
    max-width: 356px;
    height: max-content;

    &__image {
      margin: auto;
      width: 228px;
      height: 226px;
    }

    &__name {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -1.6px;
    }

    &__title {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-transform: uppercase;
      padding: 8px 0 16px;
    }

    &__email {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.alignleft {
  float: left;
  margin-right: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.alignright {
  float: right;
  margin-left: 1.5em;
}

.alignright {
  margin-bottom: 1.5em;
}
