.team {
  font-family: 'Inter', sans-serif;

  &__search {
    display: flex;
    // justify-content: space-between;
    gap: 20px;
    padding: 2rem 0;

    @include bp(custom_screen) {
      flex-direction: column;
    }
  }

  &__dropdown {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    width: 100%;
    background: #fff;
    border: 1px solid $black;
    color: $black;
    padding: 0 5px;
    position: relative;
    z-index: 10;
    min-width: 200px;
    text-align: left;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 10px;

    &__title {
      position: relative;
      padding-right: 20px;
      padding-left: 10px;
      display: block;
      max-height: 35px;
      overflow: hidden;
    }

    &__expertise-names {
      position: absolute;
      visibility: hidden;
      left: -1px;
      background: #fff;
      padding: 0px;
      min-width: 100%;
      text-align: left;
      overflow: hidden;
      z-index: 999999;
      margin: 0px !important;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      border: 1px solid $black;
    }

    &__title:hover + &__expertise-names {
      opacity: 1;
      visibility: visible;
    }

    &__expertise-names:hover {
      opacity: 1;
      visibility: visible;
    }
  }

  &__headline {
    padding: 48px 0;
  }

  &__copy {
    & a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__button {
    background-color: transparent;
    padding: 12px 24px;
    text-transform: capitalize;
    color: $black;
  }

  &__max-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 20px;
    justify-content: flex-start;
    text-align: left;
    gap: 20px;

    @include bp(tablet) {
      gap: 0 44px;
    }
    @include bp(tablet) {
      gap: 10px;
    }
  }

  &__card {
    width: 22%;
    // flex-grow: 1;
    // margin: 40px 10px 10px 10px;

    &__card:last-of-type {
      flex-grow: 0;
    }
    @include bp(tablet) {
      width: 48%;
    }

    &__image {
      height: auto;

      & img {
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: contain;
      }
    }

    &__name {
      padding: 24px 0 8px;
    }

    &__title {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-transform: uppercase;
    }
  }

  &__filter-dropdown {
    // min-width: 310px;
    position: relative;
    flex-grow: 1;
  }

  &__filter-dropdown * {
    box-sizing: border-box;
  }

  &__select {
    background: $whitesmoke;
    color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px $taupe solid;
    padding: 16px 32px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; /* 18px */
    text-transform: uppercase;
    border-radius: 0;
    flex-grow: 1;
  }

  &__caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $black;
    transition: 0.3s;
  }

  &__caret-rotate {
    transform: rotate(180deg);
  }

  &__menu {
    list-style: none;
    // padding: 0.2em 0;
    background: $whitesmoke;
    border: 1px $taupe solid;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }

  &__menu li {
    padding: 16px;
    cursor: pointer;
    border-bottom: 1px $taupe solid;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%; /* 18px */
    text-transform: uppercase;
    color: $black;
  }

  &__menu li:hover {
    background: $taupe;
  }

  &__menu-open {
    display: block;
    opacity: 1;
  }
}
