html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

button {
  display: block;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: $black;
  border: 1px solid $black;
  color: $white;
  padding: 8px 16px;
  text-transform: uppercase;
  line-height: 150%;
}

*:focus {
  outline: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-container {
  width: 100%;
  flex: 1 0 auto;
  margin-top: 78px;
}

//Tags

.large-text {
  font-size: 12.5rem;
  font-weight: bold;
  line-height: 100%; /* 256px */
  letter-spacing: -8px;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -0.344rem;
  margin: 0;
  // color: $black;
  @include bp(phone) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.2rem;
  margin: 0;
  // color: $black;
  @include bp(phone) {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.125rem;
  margin: 0;
  // color: $black;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 120%;
  margin: 0;
  letter-spacing: -0.04rem;
  // color: $black;
}

p {
  font-size: 1.25rem;
  line-height: 140%;
  margin: 0;
  // color: $black;
  letter-spacing: -0.6px;
}

.full-height {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.label {
  font-size: 0.75rem;
  line-height: 160%;
  margin: 0;
  // color: $black;
}

.blue {
  color: $blue !important;
}

.orange {
  color: $orange !important;
}

.green {
  color: $green !important;
}

.black-bg {
  background-color: $black !important;
}

.taupe-bg {
  background-color: $taupe;
}

.blue-bg {
  background-color: $blue;
}

.orange-bg {
  background-color: $orange;
}

.green-bg {
  background-color: $green;
}

.whitesmoke-bg {
  background-color: $whitesmoke;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.max-padding {
  padding: 128px;
  @include bp(laptop) {
    padding: 128px 32px;
  }
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.margin-center {
  margin: 0 auto;
}

//Hide broken image placeholder while lazyloading
img[src=''],
img:not([src]) {
  visibility: hidden;
}

.hidden {
  display: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $taupe;
  margin: 40px auto;
}
