.frm_style_formidable-style.with_frm_style .frm_error_style {
  border: none !important;
  background-color: rgba(255, 203, 168, 0.3) !important;
}

.with_frm_style .frm_message,
.frm_success_style {
  border: none !important;
  background-color: rgba(150, 238, 198, 0.3) !important;
}

.with_frm_style .frm_message p {
  color: $green !important;
}

.frm_style_formidable-style.with_frm_style .frm_error_style {
  color: $orange !important;
}

.with_frm_style .vertical_radio .frm_checkbox,
.with_frm_style .vertical_radio .frm_radio,
.vertical_radio .frm_catlevel_1 {
  display: block;
  padding: 0.2rem !important;
}

// .with_frm_style .frm_primary_label {
//   color: $black !important;
// }

.frm_style_formidable-style-2 > .with_frm_style .frm_primary_label {
  color: $whitesmoke !important;
}

.email__form > .with_frm_style select {
  background-color: $taupe;
  border: 1px solid $black;
  border-radius: 0;
  min-height: 44px;
}

.with_frm_style select {
  background-color: transparent;
  border: 1px solid $taupe;
  border-radius: 0;
  min-height: 44px;
}

.with_frm_style .frm_submit {
  padding: 1rem 0 0 !important;
}

.frm_opt_container {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(258px, 1fr)) !important;
  padding: 0 0 1rem !important;
}

.frm_style_formidable-style.with_frm_style .form-field {
  margin: 0;
}

.with_frm_style input[type="text"],
.with_frm_style input[type="email"],
.with_frm_style input[type="tel"],
.with_frm_style textarea {
  padding: 12px;
  background-color: transparent;
  border: 1px solid $black;
  border-radius: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 16px;
  height: initial;

  ::placeholder {
    color: $black;
  }
}

.frm_style_formidable-style.with_frm_style .frm_submit button {
  box-shadow: none !important;
}

.with_frm_style .frm_required {
  color: $orange;
}

.with_frm_style .frm_primary_label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

//for contact page styling//
.contact .frm_primary_label {
  color: #f2f1ed !important;
}

#field_to2fv2_label {
  color: #f2f1ed !important;
}

#field_vcy9a2_label {
  color: #f2f1ed !important;
}

#field_n0c7f2_label {
  color: #f2f1ed !important;
}

#field_n0c7f2 {
  color: #f2f1ed !important;
}

#field_n0c7f2 {
  background-color: $black !important;
}


// Contact Form Styling

.contact .with_frm_style input[type="text"],
.contact .with_frm_style input[type="email"],
.contact .with_frm_style textarea {
    border: 1px solid $taupe;
}

.contact .frm_button_submit {
  background-color: $black !important;
  width: 100% !important;
  border-color: $taupe !important;
  border-radius: 0 !important;
}

.contact .frm_submit button:hover {
    background: $whitesmoke !important;
    border-color: $black !important;
    color: $black !important;
}

// Expertise Styling

.expertise .frm_button_submit {
  background-color: $black !important;
  width: 100% !important;
  border-color: $taupe !important;
  border-radius: 0 !important;
}

.expertise .frm_submit button:hover {
    background: $whitesmoke !important;
    border-color: $black !important;
    color: $black !important;
}

// Event styling

.event-post .frm_button_submit {
  background-color: $black !important;
  width: 100% !important;
  border-color: $taupe !important;
  border-radius: 0 !important;
}

.event-post .frm_submit button:hover {
    background: $whitesmoke !important;
    border-color: $black !important;
    color: $black !important;
}

// Submit an assignment

#submit-assign .frm_button_submit {
  background-color: $black !important;
  width: 25% !important;
  margin: auto !important;
  border-color: $taupe !important;
  border-radius: 0 !important;
}

#submit-assign .frm_submit button:hover {
    background: $whitesmoke !important;
    border-color: $black !important;
    color: $black !important;
}