// .scroll-section {
//   position: relative;
//   // height: 20vh;
// }

// .scroll-container {
//   display: flex;
//   flex-direction: row;
//   // position: absolute;
//   // width: 100%;
//   // bottom: 42px;
// }
// .scroll {
//   white-space: nowrap;
//   font-size: 200px;
//   font-style: normal;
//   font-weight: 700;
//   // line-height: 100%; /* 256px */
//   letter-spacing: -12.8px;
//   color: $whitesmoke;
//   margin: 0;
//   // padding-bottom: 30px;
//   @include bp(largescreen) {
//     font-size: 300px;
//   }

//   //  @include bp(phone) {
//   //   font-size: 300px;
//   // }
// }

// .scroll-text {
//   overflow: hidden;
//   // position: absolute;
//   // bottom: -7%;
//   width: 100%;
// }

// .scroll-text * {
//   display: table;
//   // white-space: pre;
//   position: relative;
//   /* animation properties */
//   -moz-transform: translateX(100%);
//   -webkit-transform: translateX(100%);
//   transform: translateX(100%);

//   -moz-animation: my-animation 35s linear infinite;
//   -webkit-animation: my-animation 35s linear infinite;
//   animation: my-animation 35s linear infinite;
// }

// /* for Firefox */
// @-moz-keyframes my-animation {
//   from {
//     -moz-transform: translateX(100%);
//   }
//   to {
//     -moz-transform: translateX(-100%);
//   }
// }

// /* for Chrome */
// @-webkit-keyframes my-animation {
//   from {
//     -webkit-transform: translateX(100%);
//   }
//   to {
//     -webkit-transform: translateX(-100%);
//   }
// }

// @keyframes my-animation {
//   0% {
//     left: 100%;
//     transform: translateX(0);
//   }

//   100% {
//     left: 0;
//     transform: translateX(-100%);
//   }
// }

.ticker-wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  position: static;
  bottom: 0;
  // height: 3.5rem;
  background-color: $black;
}
.ticker {
  display: inline-block;
  margin-top: 5px;
  animation: marquee 150s linear infinite;
  padding: 3rem 0;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 150s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  // line-height: 100%; /* 256px */
  letter-spacing: -12.8px;
  color: $whitesmoke;
}

/* Transition */
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes swap {
  0%,
  50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}
