//Splide Customization
.splide-form {
  width: 100%;
  max-width: 480px;
  overflow: hidden;
  background-color: $taupe;
  padding-right: 0;
  &__arrow--next {
    top: 94% !important;
    left: 7em !important;
  }

  &__arrow--prev {
    top: 94% !important;
    left: 10% !important;
  }
}

.splide-testimonials {
  padding: 0 !important;

  // &__arrow--next {
  //   top: 97% !important;
  //   left: 50px !important;
  //   right: 0 !important;
  //   margin: auto !important;
  // }

  // &__arrow--prev {
  //   top: 97% !important;
  //   left: 0 !important;
  //   right: 50px !important;
  //   margin: auto !important;
  // }
}

.splide-blog {
  // width: 100%;
  max-width: 1200px;
  // overflow: hidden;
  background-color: $taupe;
  // padding-right: 0;
  // &__arrow--next {
  //   top: 94% !important;
  //   left: 7em !important;
  // }

  // &__arrow--prev {
  //   top: 94% !important;
  //   left: 10% !important;
  // }
}

.splide-timeline {
  max-width: 400px;
  margin: auto;
  text-align: center;

  &__arrow--next {
    background-color: $white !important;
  }

  &__arrow--prev {
    background-color: $white !important;
  }
}

.splide__arrow svg {
  fill: $black !important;
  height: 1.5em !important;
  width: 1.5em !important;
}

.splide__arrow:before {
  content: ' ';
  position: absolute;
  top: 19px;
  right: -2px;
  opacity: 1;
  width: 30px;
  height: 30px;
  margin-top: -19px;
  border-radius: 50%;
  // background: #000;
  border: 1px solid $black;
  transition: opacity 0.2s, top 0.2s, right 0.2s;
}

.splide__pagination__page.is-active {
  background-color: $black !important;
}

.splide__arrow:focus-visible {
  outline: none !important;
}

.splide__pagination {
  bottom: 38px !important;
}

.splide__arrow:before {
  border: none !important;
}
