//Splide Customization
.splide-form {
  width: 100%;
  max-width: 375px;
  width: 100%;
  overflow: hidden;
  background-color: $taupe;
  padding-right: 0;

  .splide__arrow--prev svg {
    transform: scaleX(-1) translate(16%, 27%) !important;
  }

  .splide__arrow--next svg {
    transform: scaleX(1) translate(24%, 27%) !important;
  }

  &__arrow--next {
    top: 94% !important;
    left: 25% !important;
  }

  &__arrow--prev {
    top: 94% !important;
    left: 13% !important;
  }
}

//Timeline
.splide-timeline {
  margin: auto;

  .splide__arrow--prev svg {
    transform: scaleX(-1) translate(16%, 27%) !important;
  }

  .splide__arrow--next svg {
    transform: scaleX(1) translate(24%, 27%) !important;
  }

  .splide-timeline .splide__arrow {
    background: #1d1c1d;
    opacity: 1;
  }

  .splide__arrow:before {
    border: 1px solid $whitesmoke;
    right: -1px;
  }

  button.splide__arrow:hover {
    background-color: $black !important;
  }

  &__arrow--next {
    top: 25% !important;
    right: 0 !important;
    background-color: $black !important;
    opacity: 1 !important ;
    @include bp(phone) {
      top: 25% !important;
    }
  }

  &__arrow--prev {
    top: 25% !important;
    left: 0 !important;
    background-color: $black !important;
    opacity: 1 !important ;
    @include bp(phone) {
      top: 25% !important;
    }
  }

  & .splide__arrow svg {
    fill: $white !important;
    height: 1.5em !important;
    width: 1.5em !important;
  }
}

.splide-testimonials {
  padding: 0 !important;

  .splide__arrow svg {
    fill: $black !important;

    // height: 1.5em !important;
    // width: 1.5em !important;
  }

  .splide__arrow--prev svg {
    transform: scaleX(-1) translate(16%, 27%) !important;
  }

  .splide__arrow--next svg {
    transform: scaleX(1) translate(24%, 27%) !important;
  }

  &__arrow--next {
    top: 97% !important;
    left: 50px !important;
    right: 0 !important;
    margin: auto !important;
  }

  &__arrow--prev {
    top: 97% !important;
    left: 0 !important;
    right: 50px !important;
    margin: auto !important;
  }
}

.splide-blog {
  // width: 100%;
  // max-width: 1200px;
  // overflow: hidden;
  background-color: $taupe;
  // padding-right: 0;
  // &__arrow--next {
  //   top: 94% !important;
  //   left: 7em !important;
  // }

  // &__arrow--prev {
  //   top: 94% !important;
  //   left: 10% !important;
  // }
}

.splide-team {
  padding: 0 !important;
}

.splide__arrow svg {
  fill: $black !important;

  height: 1.5em !important;
  width: 1.5em !important;
}

.splide__arrow:before {
  content: ' ';
  position: absolute;
  top: 19px;
  right: -2px;
  opacity: 1;
  width: 30px;
  height: 30px;
  margin-top: -19px;
  border-radius: 50%;
  // background: #000;
  border: 1px solid $black;
  transition: opacity 0.2s, top 0.2s, right 0.2s;
}

.splide__pagination__page.is-active {
  background-color: $black !important;
}

.splide__arrow:focus-visible {
  outline: none !important;
}

.splide__pagination {
  bottom: 38px !important;
}

button.splide__arrow:hover {
  background-color: transparent !important;
}

button.splide__arrow:disabled {
  opacity: 0 !important;
}

.splide__slide__team img {
  max-width: 300px !important;
}
